* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    background-color: hsl(212, 45%, 89%)
}

.card {
    margin: 0 auto;
    margin-top: 100px;
    padding: 16px 0;
    width: 300px;

    background-color: hsl(0, 0%, 100%);
    border-radius: 1.2em;
}

.qr-code img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    width: 90%;
    
    border-radius: 0.7em;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3em;
    text-align: center;
    margin: 0 auto;
    padding: 6px 28px 8px 28px;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    text-align: center;
    margin: 0 auto;
    padding: 8px 28px 36px 28px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 11px; 
    text-align: center;
}

footer a:link {
    color:hsl(228, 45%, 44%);
    text-decoration: none;
}

footer a:visited {
    color: hsl(300, 37%, 57%);
}

footer a:hover {
    color: hsl(228, 35%, 55%);
    text-decoration: underline;
}

footer a:active {
    color: hsl(330, 100%, 71%);
}
